body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(14, 14, 14, 0.9);
    background-color: #f8f8f8;
}

h1 {
    font-size: 3.5em;
    color: rgba(14, 14, 14, 0.9);
}

.buttons {
    max-width: 200px;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}

.choices {
    max-width: 200px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.buttons:hover .choices{
    transform: scale(1.1);
}

.result {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.resultDisplay {
    font-size: 7.5em;
    margin-bottom: 10px;
}

.scoreDisplay {
    font-size: 2em;
}

.greenText, .playerScoreDisplay{
    color: #31e631;
}
.redText, .computerScoreDisplay {
    color: #f42727;
}