.buttons {
    width: 300px;
    height: 100px;
    background-color: hsl(194, 100%, 65%);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px 15px;
    font-size: 3rem;
    cursor: pointer;
}